/**
 * Nejdříve css pro mobil
 */




/**
 * Poté tablet
 */
@media only screen and (min-width: 768px) {
	footer {
		position: fixed;
		width: 100%;
		height: 101px;
		bottom: 0px;
		background-image: url("/elements/footer/footer.png");
		background-size: cover;
		background-position: center center;	
		
		& > .in {
			max-width: 1280px;
			margin: 0 auto;
		}

		.menusocial {
			top: 30px;
			position: relative;

		}
		
		#copyright {
			width: 100%;
			text-align: center;
			font-size: 90%;

			a {
				float: right;
				text-decoration: none;
				margin-right: 20px;
				margin-top: 12px;
			}
		}
	}
	

}




/**
 * Dektop až na konec
 */
@media only screen and (min-width: 960px) {
	

	
}
