//== Colors
//
@gray:                  #737373;
@gray-light:				#c0c0c0;
@white:						#ffffff;
@red:							#cc1517;

//== Screens
//
@screen-mobile:			768px;
@screen-tablet:			960px;

//== InfoBox
//
@infobox-width:         260px;
@infobox-height:        260px;
@infobox-radius:			20px;

//== InfoThumb
//
@infothumb-width:         520px;
@infothumb-height:        260px;
@infothumb-radius:			20px;
