/**
 * Nejdříve css pro mobil
 */
header ul {
  margin: 0;
}
/**
 * Poté tablet
 */
@media only screen and (min-width: 768px) {
  header {
    background: transparent url('/elements/header/header.png') center top;
    height: 96px;
    min-width: 700px;
    max-width: 3000px;
    background-size: cover;
  }
}
/**
 * Dektop až na konec
 */
