/**
 * Nejdříve css pro mobil
 */
#logo li a {
  display: block;
  width: 76px;
  height: 40px;
  background: transparent url('logo.png') left top no-repeat;
  background-size: 76px 40px;
  text-indent: -99999px;
}
/**
 * Poté tablet
 */
/**
 * Dektop až na konec
 */
