/**
 * Nejdříve css pro mobil
 */
#menuSwitcher,
#mainMenu,
#langSwitcher {
  position: absolute;
  top: 0;
  right: 0;
}
#mainMenu {
  top: 30px;
  display: none;
}
#langSwitcher {
  top: 10px;
  right: 50px;
}
/**
 * Poté tablet
 */
@media only screen and (min-width: 768px) {
  #mainMenu {
    top: 10px;
    right: 7ex;
    display: block;
  }
  #langSwitcher {
    right: 0;
    top: 30px;
  }
}
/**
 * Dektop až na konec
 */
