<!DOCTYPE html>
<html lang="cs">
<head>
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=8" /> -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" media="screen,projection" href="/normalize.css" />
	<link rel="stylesheet" type="text/css" media="screen,projection" href="/typo.css" />
	
	<link rel="stylesheet" type="text/css" media="screen,projection" href="/elements/logo/logo.css" />
	<link rel="stylesheet" type="text/css" media="screen,projection" href="/elements/menu/menu.css" />
	<link rel="stylesheet" type="text/css" media="screen,projection" href="/elements/header/header.css" />
	
	<link rel="stylesheet" type="text/css" media="screen" href="./homepage.css" />
	<title>Title</title>
	<script type="text/javascript" src="/jquery.js"></script>
	<script type="text/javascript" src="/global.js"></script>
	<script type="text/javascript" src="/elements/logo/logo.js"></script>
	<script type="text/javascript" src="/elements/menu/menu.js"></script>
	<script type="text/javascript" src="/elements/header/header.js"></script>
	<script type="text/javascript" src="./homepage.js"></script>
<body>

	<nav id="logo">
		<li><a href="/" id="logo_main">Cool Dance</a>
			<ul id="logo_popup">
				<li><a href="#">Další položka</a></li>
				<li><a href="#">Další položka</a></li>
				<li><a href="#">Další položka</a></li>
				<li><a href="#">Další položka</a></li>
				<li><a href="#">Další položka</a></li>
				<li><a href="#">Další položka</a></li>
			</ul>
		</li>
	</nav>
	<nav id="mainMenu" class="menu">
		<li><a href="#">Úvod</a></li>
		<li><a href="#">Druhá</a></li>
		<li><a href="#">Třetí</a></li>
		<li><a href="#">Čtvrtá</a></li>
	</nav>
	<content>

	</content>
	<footer>
		!Todo
	</footer>

</body>
</html>