<!DOCTYPE html>
<html lang="cs" class="homepage">
<head>
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=8" /> -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" media="screen,projection" href="/normalize.css" />
	<link rel="stylesheet" type="text/css" media="screen,projection" href="/typo.css" />
	
	<link rel="stylesheet" type="text/css" media="screen,projection" href="/dist/main.css" />
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.css"/>
	<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.4.1/slick-theme.css"/>
	
	<title>Title</title>
	<script type="text/javascript" src="/jquery.js"></script>
	<script type="text/javascript" src="/slick.min.js"></script>
	<script src="http://malsup.github.com/jquery.cycle2.js"></script>
	<script type="text/javascript" src="/dist/all.js"></script>
<body>
	<header>
		<div class="in">
			<nav id="logo">
				<ul>
					<li><a href="/" id="logo_main">Cool Dance</a>
						<ul id="logo_popup">
							<li><a href="#">Další položka</a></li>
							<li><a href="#">Další položka</a></li>
							<li><a href="#">Další položka</a></li>
							<li><a href="#">Další položka</a></li>
							<li><a href="#">Další položka</a></li>
							<li><a href="#">Další položka</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<nav id="mainMenu" class="menu">
				<ul>
					<li><a href="#">Úvod</a></li>
					<li><a href="#">Druhá</a></li>
					<li><a href="#">Třetí</a></li>
					<li><a href="#">Čtvrtá</a></li>
				</ul>
			</nav>
			<nav id="langSwitcher">
				<ul>
					<li><a href="#">cz</a></li>
					<li><a href="#">en</a></li>
				</ul>
			</nav>	

		</div>
	</header>
	<content>
		<div class="in">
			<div class="layout_12_0">
				<div class="layout_column">
					<div class="layout_columnIn">

<div class="carousel">
	<!--
		First box
	-->
	<div class="cycle-carousel">
		 <div class="carousel-item">
			<div class="image">
				<img src="/elements/carousel/img/carousel_example.png" />
			</div>
			<div class="content">
				<h2>Naučíme tančit každého</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vulputate augue ipsum. Nullam et lorem tortor. Etiam quis tortor accumsan, scelerisque eros ut, rhoncus nunc.</p>
				<a href="#">více &gt;&gt;</a>
			</div>
		 </div>
		 <div class="carousel-item">
			<div class="image">
				<img src="/elements/carousel/img/carousel_example.png" />
			</div>
			<div class="content">
				<h2>Naučíme tančit každého2</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vulputate augue ipsum. Nullam et lorem tortor. Etiam quis tortor accumsan, scelerisque eros ut, rhoncus nunc.</p>
				<a href="#">více &gt;&gt;</a>
			</div>
		 </div>
		 <div class="carousel-item">
			<div class="image">
				<img src="/elements/carousel/img/carousel_example.png" />
			</div>
			<div class="content">
				<h2>Naučíme tančit každého3</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vulputate augue ipsum. Nullam et lorem tortor. Etiam quis tortor accumsan, scelerisque eros ut, rhoncus nunc.</p>
				<a href="#">více &gt;&gt;</a>
			</div>
		 </div>
	</div>
	<!--
		Second box
	-->
	<div class="cycle-carousel">
		 <div class="carousel-item">
			<div class="image">
				<img src="/elements/carousel/img/carousel_example.png" />
			</div>
			<div class="content">
				<h2>Naučíme tančit každého 2.1</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vulputate augue ipsum. Nullam et lorem tortor. Etiam quis tortor accumsan, scelerisque eros ut, rhoncus nunc.</p>
				<a href="#">více &gt;&gt;</a>
			</div>
		 </div>
		 <div class="carousel-item">
			<div class="image">
				<img src="/elements/carousel/img/carousel_example.png" />
			</div>
			<div class="content">
				<h2>Naučíme tančit každého 2.2</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vulputate augue ipsum. Nullam et lorem tortor. Etiam quis tortor accumsan, scelerisque eros ut, rhoncus nunc.</p>
				<a href="#">více &gt;&gt;</a>
			</div>
		 </div>
		 <div class="carousel-item">
			<div class="image">
				<img src="/elements/carousel/img/carousel_example.png" />
			</div>
			<div class="content">
				<h2>Naučíme tančit každého 2.3</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vulputate augue ipsum. Nullam et lorem tortor. Etiam quis tortor accumsan, scelerisque eros ut, rhoncus nunc.</p>
				<a href="#">více &gt;&gt;</a>
			</div>
		 </div>
	</div>
	<div class="carousel-nav"><div class="cycle-prev">&lt;</div><div class="carousel-pager"></div><div class="cycle-next">&gt;</div></div>
</div>




					</div>

				</div>
			</div>
		</div>
	</content>
	<footer>
		<div class="in">
			<div id="mailMessageDialog" class="mailMessage">
				<h2>Rychlý kontakt</h2>
				<form>
					<div>
						<input type="text" name="socFormEmail" id="socFormEmail" value="" placeholder="E-Mail" />
					</div>
					<div>
						<textarea cols="40" rows="8" name="socFormMessage" id="socFormMessage" placeholder="Zpráva"></textarea>
					</div>
					<div>
						<a href="">Odeslat</a>
					</div>
				</form>
			</div>
			<ul class="social">
				<li><a class="soc-fb" href="">Facebook</a></li>
				<li><a class="soc-youtube" href="">YouTube</a></li>
				<li><a class="soc-msg" href="#mailMessageDialog">Napište nám</a></li>
				<li><a class="soc-inst" href="">Instagram</a></li>
				<li><a class="soc-twitter" href="">Twitter</a></li>
			</ul>
			
		</div>

	</footer>

</body>
</html>