@import		"variables.less";
/**
 * Nejdříve css pro mobil
 */
.slider {
	margin-top: 64px;

}

.infoThumb {
	padding: 0 20px;
	float: left;
}

.infoThumb .content{
	background-color: @gray;
	color: @white;
	width: @infothumb-width;
	height: @infothumb-height;
	border-radius: @infothumb-radius;
	margin-bottom: 70px;
}

.infoThumb img, .infoThumb .caption {
	float: left;
}

.infoThumb img {
	width: (@infothumb-width / 2);
	height: @infothumb-height;
	filter: grayscale(100%);
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.infoThumb .caption {
	width: (@infothumb-width / 2) - 44px;
	height: (@infothumb-height - 44px);
	padding: 0 20px 0 24px;
	font-size: 90%;
}

.infoThumb .caption h2, .infoThumb .caption h3, .infoThumb .caption p{
	color: @gray-light;
}
.infoThumb .caption p{
	line-height: 120%;
	margin-bottom: 5px;
}
.infoThumb .caption h2{
	font-size: 115%;
	font-weight: bold;
}

.infoThumb .caption h3{
	font-size: 105%;
}

.infoThumb .caption a {
	text-decoration: none;
	float: right;
	color: @gray-light;
}

.infoThumb .content:hover {
	background-color: @red;
}

.infoThumb .content:hover img {
	-webkit-filter: none; 
	filter: none;
}


/**
 * Poté tablet
 */
@media only screen and (min-width: @screen-mobile) {

}

/**
 * Dektop až na konec
 */
@media only screen and (min-width: @screen-tablet) {
	
	.infoThumb {
		padding: 0 10px;
	}

	.infoThumb .content {
		margin-bottom: 20px;
	}


	
}
